<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Graph Visualizer</title>
		<script src="https://d3js.org/d3.v6.min.js"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.1.min.js"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.1.min.js"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.1.min.js"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.4.1.min.js"></script>

		{{ latency_script|safe }}
		<!-- Bokeh JS -->
		{{ throughput_script|safe }}
		<!-- Bokeh JS -->
		<style>
			#graph {
				text-align: left;
				/* border: 10px solid black; */
			}
			#navbar {
				background-color: blue;
				color: white;
				height: 20px;
				width: 100%;
				text-align: center;
				padding: 10px 0px;
				font-family: Arial, Helvetica, sans-serif;
			}
			#dashboard-container {
				width: 40%;
				height: 50%;
				background-color: #ffffff;
				overflow: auto;
				padding: 20px;
			}
			.bk-Figure {
				width: 400px;
				height: 400px;
			}
		</style>
	</head>
	<body>
		<div id="navbar">Network Monitoring System</div>
		<div id="graph" style="width: 60%"></div>
		<div id="dashboard-container" style="height: 50%">
			{{ latency_div|safe }}<!-- Bokeh plot -->
		</div>
		<div id="dashboard-container" style="height: 50%">
			{{ throughput_div|safe }}<!-- Bokeh plot -->
		</div>

		<script>
			function drawGraph(graph) {
				document.getElementById('graph').innerHTML = ''; // Clear the previous graph
				const width = 500,
					height = 600;
				const svg = d3
					.select('#graph')
					.append('svg')
					.attr('width', width)
					.attr('height', height)
					.attr('text-align', 'left');

				// Define color mapping based on labels
				const color = d3
					.scaleOrdinal()
					.domain(['UAV', 'BackboneUAV', 'GroundStation', 'None']) // Add all expected labels
					.range(['blue', 'green', 'teal', 'grey']); // Corresponding colors

				const links = svg
					.selectAll('.link')
					.data(graph.links)
					.enter()
					.append('line')
					.attr('class', 'link')
					.style('stroke', '#aaa');

				const nodes = svg
					.selectAll('.node')
					.data(graph.nodes)
					.enter()
					.append('circle')
					.attr('class', 'node')
					.attr('r', 12)
					.style('fill', (d) => color(d.label));

				// Create node titles
				const titles = svg
					.selectAll('.title')
					.data(graph.nodes)
					.enter()
					.append('text')
					.attr('class', 'title')
					.attr('x', (d) => d.x)
					.attr('y', (d) => d.y + 20) // Offset below the node
					.attr('text-anchor', 'middle') // Center the text under the node
					.text((d) => d.label) // Use the 'name' property from node data
					.style('font-size', '12px')
					.style('fill', 'black'); // Adjust color as needed

				const simulation = d3
					.forceSimulation(graph.nodes)
					.force(
						'link',
						d3
							.forceLink(graph.links)
							.id((d) => d.id)
							.distance(250),
					)
					.force('charge', d3.forceManyBody().strength(-75))
					.force('center', d3.forceCenter(width / 2, height / 2))
					.force('collision', d3.forceCollide().radius(15));

				simulation.on('tick', () => {
					links
						.attr('x1', (d) => d.source.x)
						.attr('y1', (d) => d.source.y)
						.attr('x2', (d) => d.target.x)
						.attr('y2', (d) => d.target.y);

					nodes
						.attr('cx', (d) => Math.max(5, Math.min(width - 5, d.x)))
						.attr('cy', (d) => Math.max(5, Math.min(height - 5, d.y)));

					titles.attr('x', (d) => d.x).attr('y', (d) => d.y + 20); // Offset y position below the node
				});
			}

			function fetchGraph() {
				fetch('/graph')
					.then((response) => response.json())
					.then((graph) => {
						console.log(graph); // Log the graph data to check
						drawGraph(graph);
					});
			}

			fetchGraph();
			setInterval(fetchGraph, 10000); // Refresh graph every 10 seconds
		</script>
	</body>
</html>
