<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Graph Visualizer</title>
		<link
			href="https://unpkg.com/vis-network/styles/vis-network.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
	</head>
	<body>
		<div id="network" style="width: 800px; height: 600px"></div>
		<script>
            function draw() {
                fetch('/graph')
                .then(response => response.json())
                .then(data => {
                    const nodes = new vis.DataSet();
                    const edges = new vis.DataSet();
                    const addedNodeIds = new Set();  // To track added node IDs

                    data.forEach(item => {
                        // Add node1 if not already added
                        if (!addedNodeIds.has(item.node1.id)) {
                            nodes.add({id: item.node1.id, label: item.node1.properties.uavName});
                            addedNodeIds.add(item.node1.id);  // Mark this node ID as added
                        }
                        // Add node2 if not already added
                        if (!addedNodeIds.has(item.node2.id)) {
                            nodes.add({id: item.node2.id, label: item.node2.properties.uavName});
                            addedNodeIds.add(item.node2.id);  // Mark this node ID as added
                        }
                        
                        // Add edge
                        edges.add({from: item.node1.id, to: item.node2.id, label: item.relationship.type});
                    });

                    const container = document.getElementById('network');
                    const graphData = { nodes: nodes, edges: edges };
                    const options = {};
                    new vis.Network(container, graphData, options);
                })
                .catch(error => console.error('Error fetching the graph data:', error));
            }

            draw(); // Call draw function to render the graph
        </script>

	</body>
</html>
